@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5 fw-semibold">Portfolio Watcher</h1>
    <p class="text-muted">Bekijk je portfolio’s en trades.</p>

    <a asp-page="/PortfolioView" class="btn btn-primary btn-lg rounded-3">
        Naar mijn portfolio’s
    </a>
</div>
