@page
@model Portfolio_Watcher.Pages.TradeModel
@{
    ViewData["Title"] = "Add Trades";

}

<h2>Create Trade</h2>

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="TradeCreate.Symbol" class="control-label"></label>
        <input asp-for="TradeCreate.Symbol" class="form-control" />
        <span asp-validation-for="TradeCreate.Symbol" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TradeCreate.Price" class="control-label"></label>
        <input asp-for="TradeCreate.Price" class="form-control" />
        <span asp-validation-for="TradeCreate.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TradeCreate.Shares" class="control-label"></label>
        <input asp-for="TradeCreate.Shares" class="form-control" />
        <span asp-validation-for="TradeCreate.Shares" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Trade</button>
    <a asp-page="/Privacy/Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}